In [1]:
import pandas as pd
import requests
import gmaps 
import numpy as np

from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,lagoa,PT,2021-11-30 06:13:52,39.0500,-27.9833,60.01,67,30,7.05,scattered clouds,0.0,0
1,1,torbay,CA,2021-11-30 06:13:52,47.6666,-52.7314,51.28,95,90,21.85,overcast clouds,0.0,0
2,2,skjervoy,NO,2021-11-30 06:13:53,70.0311,20.9714,15.80,72,66,18.19,broken clouds,0.0,0
3,3,east london,ZA,2021-11-30 06:10:44,-33.0153,27.9116,67.30,94,100,11.70,light rain,0.0,0
4,4,codrington,AU,2021-11-30 06:13:54,-38.2667,141.9667,75.42,36,10,10.92,clear sky,0.0,0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you wish to have?"))
max_temp = float(input("What is the maximum temperature you wish to have?"))

What is the minimum temperature you wish to have?0
What is the maximum temperature you wish to have?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
ideal_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,lagoa,PT,2021-11-30 06:13:52,39.0500,-27.9833,60.01,67,30,7.05,scattered clouds,0.0,0
1,1,torbay,CA,2021-11-30 06:13:52,47.6666,-52.7314,51.28,95,90,21.85,overcast clouds,0.0,0
2,2,skjervoy,NO,2021-11-30 06:13:53,70.0311,20.9714,15.80,72,66,18.19,broken clouds,0.0,0
3,3,east london,ZA,2021-11-30 06:10:44,-33.0153,27.9116,67.30,94,100,11.70,light rain,0.0,0
4,4,codrington,AU,2021-11-30 06:13:54,-38.2667,141.9667,75.42,36,10,10.92,clear sky,0.0,0
5,5,watsa,CD,2021-11-30 06:13:54,3.0372,29.5355,69.17,89,95,1.63,overcast clouds,0.0,0
6,6,presidencia roque saenz pena,AR,2021-11-30 06:08:57,-26.7852,-60.4388,63.45,70,0,4.38,clear sky,0.0,0
7,7,port alfred,ZA,2021-11-30 06:13:55,-33.5906,26.8910,65.52,89,100,15.05,light rain,0.0,0
8,8,punta arenas,CL,2021-11-30 06:13:55,-53.1500,-70.9167,46.51,76,75,9.22,broken clouds,0.0,0
9,9,santiago del estero,AR,2021-11-30 06:11:25,-27.7951,-64.2615,63.81,49,0,7.45,clear sky,0.0,0

In [5]:
# 4a. Determine if there are any empty rows.
ideal_cities_df.isnull().sum()

City_ID                     0
City                        0
Country                     4
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_df = ideal_cities_df.dropna()
new_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,lagoa,PT,2021-11-30 06:13:52,39.0500,-27.9833,60.01,67,30,7.05,scattered clouds,0.0,0
1,1,torbay,CA,2021-11-30 06:13:52,47.6666,-52.7314,51.28,95,90,21.85,overcast clouds,0.0,0
2,2,skjervoy,NO,2021-11-30 06:13:53,70.0311,20.9714,15.80,72,66,18.19,broken clouds,0.0,0
3,3,east london,ZA,2021-11-30 06:10:44,-33.0153,27.9116,67.30,94,100,11.70,light rain,0.0,0
4,4,codrington,AU,2021-11-30 06:13:54,-38.2667,141.9667,75.42,36,10,10.92,clear sky,0.0,0
5,5,watsa,CD,2021-11-30 06:13:54,3.0372,29.5355,69.17,89,95,1.63,overcast clouds,0.0,0
6,6,presidencia roque saenz pena,AR,2021-11-30 06:08:57,-26.7852,-60.4388,63.45,70,0,4.38,clear sky,0.0,0
7,7,port alfred,ZA,2021-11-30 06:13:55,-33.5906,26.8910,65.52,89,100,15.05,light rain,0.0,0
8,8,punta arenas,CL,2021-11-30 06:13:55,-53.1500,-70.9167,46.51,76,75,9.22,broken clouds,0.0,0
9,9,santiago del estero,AR,2021-11-30 06:11:25,-27.7951,-64.2615,63.81,49,0,7.45,clear sky,0.0,0

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,lagoa,PT,60.01,scattered clouds,39.0500,-27.9833,
1,torbay,CA,51.28,overcast clouds,47.6666,-52.7314,
2,skjervoy,NO,15.80,broken clouds,70.0311,20.9714,
3,east london,ZA,67.30,light rain,-33.0153,27.9116,
4,codrington,AU,75.42,clear sky,-38.2667,141.9667,
5,watsa,CD,69.17,overcast clouds,3.0372,29.5355,
6,presidencia roque saenz pena,AR,63.45,clear sky,-26.7852,-60.4388,
7,port alfred,ZA,65.52,light rain,-33.5906,26.8910,
8,punta arenas,CL,46.51,broken clouds,-53.1500,-70.9167,
9,santiago del estero,AR,63.81,clear sky,-27.7951,-64.2615,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row['Lat']
    lng=row['Lng']
    params['location']=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found ... Skipping city")

Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city
Hotel not found ... Skipping city

In [9]:
# 7. Drop the rows where there is no Hotel Name.
new_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
new_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,lagoa,PT,60.01,scattered clouds,39.0500,-27.9833,Casa Das Faias
1,torbay,CA,51.28,overcast clouds,47.6666,-52.7314,Gallows Cove
2,skjervoy,NO,15.80,broken clouds,70.0311,20.9714,Skjervøy Byggeservice AS
3,east london,ZA,67.30,light rain,-33.0153,27.9116,Tu Casa
4,codrington,AU,75.42,clear sky,-38.2667,141.9667,Codrington Gardens Bed And Breakfast

In [10]:
# 8a. Create the output File (CSV)
output_df = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
new_hotel_df.to_csv(output_df, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in new_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = new_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))